<div class="row content-center">
  <div class="col-xs-12 col-sm-10 col-md-7">
    <h1 class="shadow-sm p-2 mb-4 bg-light rounded-lg text-center">New Image</h1>
    <%= render 'form', image: @image %>
  </div>
</div>
