<footer id="sticky-footer" class="flex-shrink-0 py-2 mt-3 text-dark" style="background-color: #e3f2fd;">
  <div class="container text-center">
    <small><%= fa_icon "camera-retro" %>Photo App</small>
    <br>
    <small><%= fa_icon "github" %><%= link_to 'Matías Rodríguez', "https://github.com/mati-rodriguez80", class: "text-dark" %></small>
  </div>
</footer>
